$color-white:#fff;
$brand-color-g:#348e80;
$brand-color:#df8625;

@mixin respond-to($breakpoint) {
    @if $breakpoint == "xs" {
        @media screen and (max-width: 767px) {
          @content;
        }
    }
    @else if $breakpoint == "sm" {
        @media (min-width: 768px) and (max-width: 991px) {
            @content;
        }
    }
    @else if $breakpoint == "md" {
        @media (min-width: 992px) and (max-width: 1199px) {
            @content;
        }
    }
    @else if $breakpoint == "lg" {
        @media screen and (min-width: 1200px) {
            @content;
        }
    }
}

.timelineBar {
    border: 4px solid #FFFFFF;
    width: 1338px;
    position: absolute;
    left: 268px;
}

.pstimelinesec {
    position: relative;
    background: $color-white;
    // width: 1197px;
    margin: 0 auto;

    .container {
        position: relative;

        ol {

            @include respond-to(xs) {
                &:before {
                    background: $brand-color-g;
                    content: "";
                    width: 10px;
                    height: 10px;
                    border-radius: 100%;
                    position: absolute;
                    top: 130px !important;
                    left: 36px !important;
                }

                &:after {
                    background: #348e80;
                    content: "";
                    width: 10px;
                    height: 10px;
                    border-radius: 100%;
                    position: absolute;
                    top: inherit !important;
                    left: 36px;
                }

                &.pstimeline {
                    margin: 130px 0 !important;
                    border-left: 2px solid #348e80;
                    padding-left: 0 !important;
                    padding-top: 120px !important;
                    border-top: 0 !important;
                    margin-left: 25px !important;

                    li {
                        height: 220px;
                        float: none !important;
                        width: inherit !important;

                        &:nth-child(2) {
                            .imghandlerbot {
                                img {
                                    width: 70px;
                                }
                            }
                        }

                        &:last-child {
                            margin: 0;
                            bottom: 0 !important;
                            height: 120px;

                            .imghandlerbot {
                                bottom: 40px !important;
                                width: 40% !important;
                                margin-left: 25px !important;
                                margin-top: 0 !important;

                                img {
                                    width: 100%;
                                }
                            }

                            .pstop {
                                margin-bottom: 0 !important;
                                top: 20px;
                                width: 50% !important;
                            }
                        }



                        span {
                            left: 0 !important;

                            &.pssptop {
                                &:before {
                                    content: none !important;
                                }

                                &:after {
                                    content: none !important;
                                }
                            }

                            &.psspbot {
                                &:before {
                                    content: none !important;
                                }

                                &:after {
                                    content: none !important;
                                }
                            }
                        }

                        .imghandlertop {
                            position: absolute !important;
                            bottom: 150px !important;
                            width: 30% !important;
                            float: left !important;
                            margin-left: 35px !important;
                            margin-bottom: 0 !important;

                            img {
                                margin: 0 auto !important;
                                width: 80% !important;
                            }
                        }

                        .imghandlerbot {
                            position: absolute !important;
                            bottom: 115px !important;
                            width: 30% !important;
                            float: left !important;
                            margin-left: 35px !important;
                            margin-bottom: 0 !important;
                        }

                        p {
                            text-align: left !important;
                            width: 100% !important;
                            margin: 0 auto !important;
                            margin-top: 0px !important;
                        }

                        .ps-top {
                            width: 60% !important;
                            float: right !important;
                            right: 0;
                            top: -40px;
                        }

                        .psbot {
                            width: 60% !important;
                            float: right !important;
                            right: 0;
                            top: -40px;
                        }
                    }
                }
            }


            

            &.pstimeline {
                margin: 260px 0;
                padding: 0;
                // border: 4px solid #FFFFFF;
                list-style: none;

                li {
                    float: left;
                    width: 11%;
                    padding-top: 30px;
                    position: relative;

                    span {
                        width: 124px;
                        height: 84px;
                        margin-left: 140px;
                        background: $color-white;
                        border:  21px solid rgb(255 255 255 / 20%);
                        border-radius: 50%;
                        box-shadow: 0 0 0 0px $color-white;
                        text-align: center;
                        line-height: 50px -10;
                        color: $brand-color;
                        font-size: 41px;
                        font-style: normal;
                        position: absolute;
                        top: -86px;
                        left: 50%;
                        background: #1B365D 0% 0% no-repeat padding-box;

                        letter-spacing: -1.49px;
                        color: #FFFFFF;
                        opacity: 1;
                        // padding-top: 36px;
                        padding-top: 40px;

                        &.pssptop {
                            &:before {
                                content: '';
                                color: white;
                                width: 4px;
                                height: 50px;
                                background: white;
                                position: absolute;
                                top: -50px;
                                left: 50%;
                            }

                        }

                        &.psspbot {
                            &:before {
                                content: '';
                                color: white;
                                width: 4px;
                                height: 50px;
                                background: white;
                                position: absolute;
                                bottom: -50px;
                                left: 50%;
                            }

                        }
                    }

                    .imghandlertop {
                        position: absolute;
                        bottom: 0;
                        margin-bottom: 130px;
                        width: 100%;

                        img {
                            display: table;
                            margin: 0 auto;
                        }
                    }

                    .imghandlerbot {
                        position: absolute;
                        margin-top: 60px;
                        width: 100%;

                        img {
                            display: table;
                            margin: 0 auto;
                        }
                    }

                    p {
                        text-align: center;
                        // width: 80%;
                        margin: 0 auto;
                        color: white;
                    }

                    .pstop {
                        position: absolute;
                        bottom: 0;
                        margin-bottom: 100px;
                        position: absolute;
                        bottom: 0;
                        margin-bottom: 163px;
                        left: 233px;
                        width: 100%;

                        color: white;
                        font-size: 21px;
                    }

                    .psbot {
                        position: absolute;
                        margin-top: 111px;
                        color: white;
                        font-size: 21px;
                        margin-left: 191px;
                        width: 300px;
                    }
                }
            }
        }
    }
}

.quantitiesBoxes {
    top: 660px;
    left: 226px;
    position: absolute;
    display: flex;
    gap: 102px;
}

.quantityBox {
    background: #1b365d82;
    width: 241px;
    height: 222px;
    /* UI Properties */
    border: 3px solid #FFFFFF;
    border-radius: 27px;
    opacity: 1;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.quantityBoxContent {
    margin: 0;
    h2 {
        margin: 0;
        font-size: 96px;
        letter-spacing: -8.14px;
        color: #FFFFFF;
        text-align: center;
    }

    p {
        display: flex;
        flex-direction: column;
        color: white;
        text-align: center;
        font-size: 21px;
    }
}